apptools==4.5.0
certifi==2020.6.20
click==7.1.2
configobj==5.0.6
connected-components-3d==1.7.0
cycler==0.10.0
envisage==4.9.2
future==0.18.2
imageio==2.8.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1589812474002/work
kiwisolver==1.2.0
matplotlib==3.2.1
mayavi==4.7.1
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.5
olefile==0.46
panda3d==1.10.6
Pillow==7.1.2
pydicom @ file:///home/conda/feedstock_root/build_artifacts/pydicom_1590767348156/work
pyface @ file:///home/conda/feedstock_root/build_artifacts/pyface_1591726751436/work
Pygments==2.6.1
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyqt5-tools==5.15.0.1.7
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil==2.8.1
python-dotenv==0.14.0
QtAwesome==0.7.2
QtPy==1.9.0
scikit-learn @ file:///D:/bld/scikit-learn_1589921010829/work
scipy==1.3.2
six==1.15.0
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tornado==6.0.4
tqdm==4.46.1
traits @ file:///D:/bld/traits_1591730655341/work
traitsui @ file:///home/conda/feedstock_root/build_artifacts/traitsui_1591725644021/work
vtk===-PKG-VERSION
wincertstore==0.2
